# Copia este archivo como .env y completa los valores reales en tu equipo.
# El archivo .env real no se sube a GitHub.

APP_PORT=8080
PHPMYADMIN_PORT=8081
DB_EXTERNAL_PORT=3307

DB_NAME=escuela_db
DB_USER=escuela_user
DB_PASS=coloca_aqui_tu_clave
DB_ROOT_PASS=coloca_aqui_tu_clave_root

PMA_WEB_USER=root
PMA_WEB_PASSWORD=coloca_aqui_tu_clave_root
PMA_CONTROL_DB=phpmyadmin
PMA_CONTROL_USER=pma
PMA_CONTROL_PASSWORD=coloca_aqui_tu_clave_phpmyadmin
